
h1 {
        background-color: rgb(251, 119, 119);
        color: white;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 3px;
      }

h2 {
        color: rgb(189, 82, 82);
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 3px;
        word-spacing: 10 px;
      }

p {
  text-align: left;
  font-size:larger;
}

.content{
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

li {
  font-size: large;
}

